{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<!-- Dashboard Description -->
<div class="container-fluid"
    style="background: linear-gradient(to right, #764ba2, #667eea); color: white; padding: 30px 20px; margin-top: 0px; border-radius: 15px 15px 15px 15px;">
    <h2>Dashboard Overview</h2>
    <h5>Your central hub for monitoring and analyzing business performance.</h5>
    <p>Get the latest visualized data from your store to make informed decisions.</p>
</div>

<br>

<canvas id="bar-chart" width="800" height="450"></canvas>
<canvas id="line-chart" width="800" height="450"></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script>
    // Bar chart
    new Chart(document.getElementById("bar-chart"), {
        type: 'bar',
        data: {
            labels: {{ product_name | safe }},
        datasets: [
        {
            label: "Sales per product",
            backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
            data: {{ p_sales | safe }}
                },
        {
            label: "Profit per product",
            backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
            data: {{ p_profit | safe }}
                },
    ]
        },
        options: {
        legend: { display: false },
        title: { display: true, text: 'Sales and Profit per products' }
    }
    });

    // Line chart
    new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
            labels: {{ date | safe }},
        datasets: [
        {
            data: {{ p_day | safe }},
        label: "Profit per day",
        borderColor: "#3e95cd",
        fill: false
                },
        {
            data: {{ s_day | safe }},
        label: "Sales per day",
        borderColor: "#8e5ea2",
        fill: false
                }
    ]
        },
        options: {
        title: { display: true, text: 'Profit and Sales per day' }
    }
    });
</script>
{% endblock %}