{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<!-- Dashboard Description -->
<div class="mb-4">
    <p class="fs-5">
        Welcome to your Dashboard! Here you can view analytics for product sales, profit, and overall performance.
        Use the charts below to analyze the sales and profit data per product, as well as a daily breakdown of sales and
        profit.
    </p>
    <p class="fs-5">
        The data shown is up-to-date and reflects the most recent transactions in your store. You can use this data to
        make informed decisions on stock, pricing, and promotions.
    </p>
</div>

<canvas id="bar-chart" width="800" height="450"></canvas>
<canvas id="line-chart" width="800" height="450"></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script>
    // Bar chart
    new Chart(document.getElementById("bar-chart"), {
        type: 'bar',
        data: {
            labels: {{ product_name | safe }},
        datasets: [
        {
            label: "Sales per product",
            backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
            data: {{ p_sales | safe }}
                },
        {
            label: "Profit per product",
            backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
            data: {{ p_profit | safe }}
                },
    ]
        },
        options: {
        legend: { display: false },
        title: { display: true, text: 'Sales and Profit per products' }
    }
    });

    // Line chart
    new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
            labels: {{ date | safe }},
        datasets: [
        {
            data: {{ p_day | safe }},
        label: "Profit per day",
        borderColor: "#3e95cd",
        fill: false
                },
        {
            data: {{ s_day | safe }},
        label: "Sales per day",
        borderColor: "#8e5ea2",
        fill: false
                }
    ]
        },
        options: {
        title: { display: true, text: 'Profit and Sales per day' }
    }
    });
</script>
{% endblock %}